### input and output methods:-  
- reading data and information from user-----***input()***  
        -static input  
        -dyanamic input  
- display the information or data to the user-------***print()***

In [8]:
a=20  
b=30  
print(a)  
print(b)

20
30

In [9]:
a=input()  
a

snehaja

'snehaja'

In [10]:
a=input("enter user value")  
a

enter user value367

'367'

In [2]:
a=float(input("enter user value"))
a

enter user value367

367.0

In [3]:
a=input("entre value")  
print(a)

entre value637
637

In [4]:
a=20  
b=30  
c=40  
print(a,b,c)

20 30 40

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
a=10  
b=20  
c=30  
print(a,b,c,sep=",",end="%")  
print(c)

10,20,30%30

In [13]:
a=10  
b=20  
c=30  
print(a,b,c,sep=",")

10,20,30

In [14]:
a=10  
b=20  
c=30  
print(a,b,c)    
print(c)

10 20 30
30

In [16]:
a=10  
b=20  
c=30  
print(a,b,c,end="%")

10 20 30%

In [17]:
# generate three values from the user that values seprate with $ and end with %

In [7]:
x=input("enter the x values") 
y=input("enter the y value")  
z=input("entre the z value")  
print(x,y,z,sep="$",end="%")

enter the x values10
enter the y value20
entre the z value30
10$20$30%

### operators  
 - Arthimatic operator(+,-,*,**,/,//,%)    
     - output of the normal division is quotient  
     - output of the int division or floor division is integer part of the quotient  
     - output of the module division is remainder  
 - Logical operator(and,or,not)  
 - Assignment operator(=)  
 - Comparision operator(<,>,<=,>=,==)     
 - Bitwise operator(&,|,^)    
 - Identity operator(is (==),isnot(!=)    
 - Membership operator(in,notin)

### Arthmatic opertor

In [18]:
a=20  
b=23  
print("addition",a+b)
print("subtration",a-b)  
print("multipilication",a*b)
print("power",a**b)  
print("division",a/b)  
print("int division or floor division",a//b)  
print("module",a%b)

addition 43
subtration -3
multipilication 460
power 838860800000000000000000000000
division 0.8695652173913043
int division or floor division 0
module 20

### Assignment  operator  
 - It represented with =  
 - Leftside value of the operator(=) is called as a variable  
 - rightside values of the variable(=) is calledas values

In [19]:
a=10  
b=20
print(a)  
print(b)

10
20

### Logical operator  
 - AND,OR, NOT  
 - If all the inputs are true the output is true  
 - If any of the input is true ore output is true(or)  
 - opposite operation  for the given one

In [25]:
4<8 and 3>6

False

In [27]:
5<10 and 6<12

True

In [26]:
2<4 or 5>10

True

In [28]:
8>16 or 9>18

False

In [29]:
s=50
not s

False

### Comparision operator

In [20]:
4>8

False

In [21]:
3<6

True

In [24]:
if 4>8 and 3<=6:  
    print("print true or false")
else:
    print("invalid")

invalid

In [22]:
4>=8

False

In [23]:
3<=8

True

### Bitwise operator

In [31]:
 2 & 3  
 # 2- 0 0 1 0
 # 3- 0 0 1 1
 --------------
#   - 0 0 1 0

2

In [32]:
3|4

7

In [33]:
 2^3

1

In [34]:
2<<3

16

In [35]:
2>>3

0

### Identity operator

In [36]:
a is 50 and a is not 50

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_2576/3067346996.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 50 and a is not 50
C:\Users\Lab\AppData\Local\Temp/ipykernel_2576/3067346996.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 50 and a is not 50

False

In [38]:
a==50 and a!=50

False

### Membership operator

In [39]:
s=[1,2,4,6,8,9]
4 in s

True

In [40]:
10 not in s

True

In [41]:
4 not in s

False

In [42]:
a=20 
a=a+1  
a

21

In [47]:
b=30  
b=b-1  
b

29

In [46]:
b=30  
b=b*1  
b

30

In [48]:
b=30  
b=b/2  
b

15.0

In [ ]:
a=10  
# a+=1------->a=a+1  
# a-=1------->a=a-1 
# a*=1------->a=a*1  
# a/=1------->a=a/1

### Flow control  
 - Condition statemente (if,else,else if,nested if)  
 - Loops(for,while loop)  
 - Break,return

In [59]:
# c-Language  
if(condition):
    print(a)

NameError: name 'condition' is not defined

### Condition statement

In [ ]:
# if
if (conditon):
    statement1
    statement2  
    statement3  
    ----------  
    statementn

In [ ]:
# if else
if(condition)
    statement1
    statement2  
    statement3  
    ----------  
    statementn
else:
     statement1
    statement2  
    statement3  
    ----------  
    statementn

In [ ]:
# nested if else
if(condition){
    # if else
if(condition)
    statement1
    statement2  
    statement3  
    ----------  
    statementn
else:
     statement1
    statement2  
    statement3  
    ----------  
    statementn
}
else:
    {
        # if else
if(condition)
    statement1
    statement2  
    statement3  
    ----------  
    statementn
else:
     statement1
    statement2  
    statement3  
    ----------  
    statementn
    }

In [52]:
if 2>3:
     print("true")  
else:
        print("false")

false

In [50]:
# given number is even or odd  
n=int(input("enter the values"))
if(n%2==0):
    print("even number")  
else:
    print("odd number")

enter the values2
even number

In [51]:
# given number is zero or positive or negative  
n=int(input("enter the values"))  
if(n==0):
    print("zero")  
elif(n>0):
    print("positive")
else:
    print("negative")

enter the values36
positive

In [56]:
# number is divisible by 2 but not divisible by10
n=int(input("enter the value"))
if(n%2==0 & n%10!=0):
    print("valid number")
else:  
    print("invalid number")

enter the value30
invalid number

In [55]:
# number is divisible by 2 but not divisible by10
n=int(input("enter the value"))
if(n%2 is 0 and n%10 is not 0):
    print("valid number")
else:  
    print("invalid number")

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?

enter the value5
invalid number

C:\Users\Lab\AppData\Local\Temp/ipykernel_2576/1891323112.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if(n%2 is 0 and n%10 is not 0):
C:\Users\Lab\AppData\Local\Temp/ipykernel_2576/1891323112.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if(n%2 is 0 and n%10 is not 0):

### Range  
 - Syntax for the range is range(start,end value.step value)
 - Starting value is include and end value is exclusive)

In [ ]:
 range(start, end,step)

In [ ]:
 range(10,20,1)  
 # 10,11,12,13,14,15,16,17,18,19
 range(20,30,2)
 # 20,22,24,26,28
 range(50)
 # consider as start value 
 range(20,30)
 # consider start value and end value
 # revers print
 range(10,1,-1)

In [60]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [63]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
list(range(10,1,-1))