### While  
 - it execute block or set of instruction untile the condition is false  
 - while we dont the range  
 - execute faster then the for loop  
 - user increament

In [ ]:
# while syntax  
initilization  
while condition:
    statement
    ince/decrement

In [2]:
n=1
while n<=5:
    print("SRI VASAVI COLLEGE")
    n=n+1

SRI VASAVI COLLEGE
SRI VASAVI COLLEGE
SRI VASAVI COLLEGE
SRI VASAVI COLLEGE
SRI VASAVI COLLEGE

In [4]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [5]:
n=1
while n<=10:
    print(n,end=" ")
    n=n+1

1 2 3 4 5 6 7 8 9 10

In [6]:
# I/P 1234
# O/P digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1    #1234%10=4 123%10=3 12%10=2
    s=s//10
print("\ndigit count:",c)

1234

digit count: 4

In [11]:
# check the given number is palindrom or not 
# 121-121
# mom-mom
n=int(input())
temp=n
rev=0 
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("its palindrom number")
else:
    print("its not palidorm")

121
its palindrom number

In [ ]:
# nested for loop 
for iter in range(start,end,step):
    for iter in range(start,end,step)
    statemnet1
    statementn

In [ ]:
 # matrix format
    - rows, columns
    - two dimensions
        1 2 3
        1 2 3

In [13]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print() # new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [14]:
for row in range(1,5):
    for column in range(1,5):
        print(column,end=" ")
    print() # new line

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [18]:
for row in range(1,5):
    for column in range(1,5):
        print(row,column,sep="*",end=" ")
    print() # new line

1*1 1*2 1*3 1*4
2*1 2*2 2*3 2*4
3*1 3*2 3*3 3*4
4*1 4*2 4*3 4*4

In [16]:
for row in range(1,5):
    for column in range(1,5):
        print("*",end=" ")
    print() # new line

* * * *
* * * *
* * * *
* * * *

In [3]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print() # new line

*
* *
* * *
* * * *
* * * * *

In [4]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print() # new line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print() # new line
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print() # new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
# 1to 10
# prime number : 2,3,5,7
x=int(input())
y=int(input())
for n in range(x,y+1): # n=1 n=2 n=3 n=4
    c=0
    for var in range (1,n+1): #(1,1(1,2)(1,3)(1,4)
        if n%var==0 # factors
            c+=1    # factors count
    if c==2:
        print(n,end=" ")

1
10
2 3 5 7

In [ ]:
#nested while
- loop inside another loop

In [ ]:
# syyntax
initilization
while condition:
    statement
    incr/decr
    while cindtion:
        statement
        incr\decr

In [8]:
# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

## Jumps statement
* we called as unconditional jumps
    - Break
    - continue
    - pass

### Break  
- terminate the current loop statemnet 
- break is keyword

In [9]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [4]:
n=1
while n<=10:
    print(n)
    n+=1
    if n==6:
        break

1
2
3
4
5

### Continue  
- it skip only current iteration and continue the next iteration
- continue is keyword

In [2]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [11]:
# print odd number using even numbers condition using co
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### Pass
- it is keyword
- when we need condition scientifically correct to change another change another operation
- it is null operation
- pass statement we use to create a empty classes also

In [12]:
x="python"
for i in x:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

## String
- string is a group of characters 
- string is a derived datatype and immulate
- all strings are new return values

In [13]:
a=" sri vasi college"
print(type(a))

<class 'str'>

In [14]:
print(len(a))

17

In [21]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

h
y
['h', 'n', 'o', 'p', 't', 'y']

In [22]:
a="python"
b="workshop"
print(a+b)
print(a,b)
print(a*b)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [29]:
 slicing syntax::(start:end:step)
# positive indexing(left or right)
# negative indexing(right or left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

SyntaxError: invalid syntax (Temp/ipykernel_1696/1775612451.py, line 1)

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
s='vasavi coolege'
s="vasavi college"

s1=''' i am from 
velagapalli
i am snehaja '''
s2=""" engineering
college of cse 
department """

In [6]:
print(s1)

 i am from
velagapalli
i am snehaja

In [7]:
print(s2)

engineering
college of cse
department

In [8]:
print(len(s))

14

In [9]:
print(len(s1))

37

In [10]:
p="python workshop"
print(p.capitalize())

Python workshop

In [11]:
n="GFHertybJHB"
print(n)
print(p.upper())
print(p.lower())

GFHertybJHB
PYTHON WORKSHOP
python workshop

In [14]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [16]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [17]:
s7="India is my country"
s7.istitle()

False

In [18]:
s7="India Is My Country"
s7.istitle()

True

In [19]:
s8=" "
s8.isspace()

True

In [20]:
# isdigit is used to identy the digitify in given string
# isalpha which return true,alphabets present in given string
r="puthon3"
r.isalpha()

False

In [22]:
r.isdigit()

False

In [24]:
s="345678"
s.isalnum()

True

In [25]:
s="3456789"
s.isalnum()

True

In [27]:
s="python is a latest technology and todays world somany porgaramms are available"
s.split()

['python',
 'is',
 'a',
 'latest',
 'technology',
 'and',
 'todays',
 'world',
 'somany',
 'porgaramms',
 'are',
 'available']

In [34]:
s="python@is@lates@technology@and@todays@world@somany@porgaramms@are@available"
s.split('@')

['python',
 'is',
 'lates',
 'technology',
 'and',
 'todays',
 'world',
 'somany',
 'porgaramms',
 'are',
 'available']

In [33]:
s="python is a latest technology and todays world somany porgaramms are available"
s.split('t')

['py',
 'hon is a la',
 'es',
 ' ',
 'echnology and ',
 'odays world somany porgaramms are available']

In [36]:
A="sNeHaJa"
A2=''
for i in A:
    if i.islower():
        A2 +=i.upper()
    else:
        A2 +=i.lower()
print(A2)

SnEhAjA

In [38]:
# swapcase
A.swapcase()

'SnEhAjA'

In [39]:
s="python is a latest technology and todays world somany porgaramms are available"
s

'python is a latest technology and todays world somany porgaramms are available'

In [41]:
#count :: to know the no of occurence 
s.count('a')

11

In [43]:
s.index('t') # searching start from the beginning

2

In [44]:
s.rindex('t') # searching start from the ending

34

In [45]:
# find--it will return index position of that character
s.find('t')

2

In [46]:
s.index('is')

7

In [49]:
# replace-is used to replace the old charatcer
# strip-used to remove white space by default
d="bye vasavi college"
d.replace('bye','sri')

'sri vasavi college'

In [58]:
d="   hello sdc"
print(d)

   hello sdc

In [60]:
d.strip()

'hello sdc'

In [64]:
d.lstrip()

'hello sdc'

In [62]:
d.rstrip()

'   hello sdc'

In [65]:
# join
# centre
# startwith
# endwith
s="thursday"
'@'.join(s)

't@h@u@r@s@d@a@y'

In [66]:
s="thursday"
'-'.join(s)

't-h-u-r-s-d-a-y'

In [67]:
s="thursday"
'.'.join(s)

't.h.u.r.s.d.a.y'

In [69]:
s.center(1)

'thursday'

In [70]:
s.zfill(10)

'00thursday'

In [72]:
s2="today is 3rd day of the program"
len(s2)
s2.zfill(38)

'0000000today is 3rd day of the program'

In [74]:
s2.startswith('to')

True

In [75]:
s2.startswith('end')

False

In [77]:
s2.endswith('to')

False

In [79]:
s2.endswith('program')

True

## Data structures
 - List 
     - it is one of the data structre in python.
     - list is mutable
     - represented with []
     - slicing,indexing are same as string concept.
 - Tuple
     - tuple is used to []
     - immutable
 - Set
     - it is use to {}
 - Dictionaries
 
* DT are two types:
   - Mutable
       - we can change at any time after its declartion.
       - ex:list,dictionaries
   - Immutable       
       - we cann't change it once it declared
       - ex:strings,tuples

In [80]:
li=[2,4,7,4,9,1]
print(li)

[2, 4, 7, 4, 9, 1]

In [81]:
len(li)

6

In [82]:
print("length of the list ",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

length of the list  6
max one of the list 9
min one of the list 1

In [86]:
a=['apple',5,8,34,6]
b=[4,8,'today',4]

In [87]:
a + b

['apple', 5, 8, 34, 6, 4, 8, 'today', 4]

In [88]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 34, 6]

In [89]:
#repectetion
a*3

['apple', 5, 8, 34, 6, 'apple', 5, 8, 34, 6, 'apple', 5, 8, 34, 6]

In [92]:
(a+b)*2

['apple',
 5,
 8,
 34,
 6,
 4,
 8,
 'today',
 4,
 'apple',
 5,
 8,
 34,
 6,
 4,
 8,
 'today',
 4]

In [93]:
'apple' in a

True

In [94]:
'today' not in a

True

In [95]:
'apple'not in a

False

In [96]:
'today' in a

False

In [102]:
names=['snehaja','siva','sasi','praveen','liki','pavan']
names[0]

'snehaja'

In [99]:
names[5]

'pavan'

In [101]:
names[:3]

['snehaja', 'siva', 'sasi']

In [105]:
s='snehaja'
s[0]
s[5]
s[:3] #sne
s[0:3] #sne
s[3:6] #ehaja
s[3:]  #

'haja'

In [104]:
s[:3]

'sne'

In [107]:
li1=['vasavi','college','students','buses']

In [108]:
li1[2:]

['students', 'buses']

In [109]:
li1[:2]

['vasavi', 'college']

In [110]:
li1[2:5]

['students', 'buses']